<!DOCTYPE html>
<html lang="en">


<%- include('header'); -%>
<body>
   
    <h2>This is belong to <%= instadata.name %>
    </h2>
    <p>Followers:<%= instadata.followers %> and Following <%= instadata.following %>
    </p>

    <p>
        <% for( let post of instadata.posts ) { %>
            <br />
            <img src="<%= post.image %>" alt="">
            <br />
            Likes: <%= post.likes %>
            Comments:<%= post.comments %>
            <% } %>
    </p>

</body>

</html>